<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accela Caller</title>
  <style>
    pre {
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
  </style>
</head>

<body>
  <h1>Accela Caller test</h1>
  <!-- <button id='button' type='submit' onClick='getRecords()'>Do the Thing!</button> -->
  <div id='output' style='word-wrap: break-word;'>
    <p>Output:</p>
    <table>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Module</th>
          <th scope="col">Service Provider Code</th>
          <th scope="col">Updated Date</th>
          <th scope="col">Record Class</th>
          <th scope="col">Initiated Date</th>
          <th scope="col">Assigned To Department</th>
          <th scope="col">Closed By Department</th>
          <th scope="col">Assigned User</th>
          <th scope="col">Total Job Cost</th>
          <th scope="col">Custom ID</th>
          <th scope="col">Job Value</th>
          <th scope="col">Closed by User</th>
          <th scope="col">Opened Date</th>
          <th scope="col">Value</th>
          <th scope="col">Total Fee</th>
          <th scope="col">Total Pay</th>
          <th scope="col">Balance</th>
          <th scope="col">Booking</th>
          <th scope="col">Infraction</th>
          <th scope="col">Misdemeanor</th>
          <th scope="col">Offense Witnessed</th>
          <th scope="col">Defendant Signature</th>
          <th scope="col">Public Owned</th>
        </tr>
      </thead>
      <!-- unpack the array of objects -->
      <% let parsed=result.result %>
        <% parsed.forEach(function(record) { %>
          <tr>
            <td>
              <%= record.id %>
            </td>
            <td>
              <%= record.name %>
            </td>
            <td>
              <%= record.type %>
            </td>
            <td>
              <%= record.description %>
            </td>
            <td>
              <%= record.status %>
            </td>
            <td>
              <%= record.module %>
            </td>
            <td>
              <%= record.serviceProviderCode %>
            </td>
            <td>
              <%= record.updateDate %>
            </td>
            <td>
              <%= record.recordClass %>
            </td>
            <td>
              <%= record.initiatedProduct %>
            </td>
            <td>
              <%= record.totalJobCost %>
            </td>
            <td>
              <%= record.customID %>
            </td>
            <td>
              <%= record.jobValue %>
            </td>
            <td>
              <%= record.openedDate %>
            </td>
            <td>
              <%= record.trackingId %>
            </td>
            <td>
              <%= record.undistributedCost %>
            </td>
            <td>
              <%= record.reportedDate %>
            </td>
            <td>
              <%= record.createdBy %>
            </td>
            <td>
              <%= record.statusDate %>
            </td>
            <td>
              <%= record.value %>
            </td>
            <td>
              <%= record.totalFee %>
            </td>
            <td>
              <%= record.totalPay %>
            </td>
            <td>
              <%= record.balance %>
            </td>
            <td>
              <%= record.booking %>
            </td>
            <td>
              <%= record.infraction %>
            </td>
            <td>
              <%= record.misdemeanor %>
            </td>
            <td>
              <%= record.offenseWitnessed %>
            </td>
            <td>
              <%= record.defendantSignature %>
            </td>
            <td>
              <%= record.publicOwned %>
            </td>
          </tr>
          <% }) %>
    </table>
  </div>
  <div>
    <% parsed.forEach(function (record) { %>
      <p>
        <%= record %>
      </p>
      <% }) %>
  </div>
  <script src="../js/index.js"></script>
</body>

</html>