<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accela Caller</title>
  <style>
    p {
      font-size: small;
      /* line-height: .75em; */
      margin: 0;
    }
  </style>
</head>

<body>
  <h1>Accela Caller test</h1>
  <!-- <button id='button' type='submit' onClick='getRecords()'>Do the Thing!</button> -->
  <div id='output' style='word-wrap: break-word;'>
    <p>Output:</p>
    <table border='1'>
      <thead>
        <tr>
          <th scope="col">Name / ID</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Module</th>
          <th scope="col">Record Class</th>
          <th scope="col">Created By</th>
          <th scope="col">IDs</th>
          <th scope="col">Service Provider Code</th>
          <th scope="col">Updated Date</th>
          <th scope="col">Initiated Product</th>
          <th scope="col">Value</th>
          <th scope="col">Attributes</th>
          <th scope="col">Closed By Department</th>
          <th scope="col">Assigned User</th>
          <th scope="col">Job Value</th>
          <th scope="col">Reported Date</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <!-- unpack the array of objects -->
      <% let parsed=result.result %>
        <% parsed.forEach(function(record) { %>
          <tr>
            <td>
              <%= record.name %><br><br>
                <a href="http://localhost:5000/test/<%= record.id %>">
                  <%= record.id %>
                </a>
            </td>
            <td>
              <%#= JSON.stringify(record.type) %>
                <p>Module: <%= record.type.module %>
                </p>
                <p>Value: <%= record.type.value %>
                </p>
                <p>Type: <%= record.type.type %>
                </p>
                <p>Text: <%= record.type.text %>
                </p>
                <p>Group: <%= record.type.group %>
                </p>
                <p>Alias: <%= record.type.alias %>
                </p>
                <p>Alias: <%= record.type.subType %>
                </p>
                <p>Alias: <%= record.type.category %>
                </p>
                <p>Alias: <%= record.type.id %>
                </p>
            </td>
            <td>
              <%= record.description %>
            </td>
            <td>
              <p>
                Value: <%= record.status?.value %>
              </p>
              <p>
                Text: <%= record.status?.text %>
              </p><br>
              <p>
                <%= record.statusDate.substr(0,10) %>
              </p>
            </td>
            <td>
              <%= record.module %>
            </td>
            <td>
              <%= record.recordClass %>
            </td>
            <td>
              <%= record.createdBy %><br><br>
                <%= record.openedDate.substr(0,10) %>
            </td>
            <td>
              TrackingID: <%= record.trackingId %>
                <br><br>
                CustomID: <%= record.customId %>
            </td>
            <td>
              <%= record.serviceProviderCode %>
            </td>
            <td>
              <%= record.updateDate.substr(0,10) %>
            </td>
            <td>
              <%= record.initiatedProduct %>
            </td>
            <td>
              <%= record.value %>
            </td>
            <td>
              <% if (record.booking=='true' ) { %>
                <p>Booking: ✅</p>
                <% } else { %>
                  <p>Booking: ❌</p>
                  <% } %>

                    <% if (record.infraction=='true' ) { %>
                      <p>Infraction: ✅</p>
                      <% } else { %>
                        <p>Infraction: ❌</p>
                        <% } %>

                          <% if (record.publicOwned=='true' ) { %>
                            <p>Public Owned: ✅</p>
                            <% } else { %>
                              <p>Public Owned: ❌</p>
                              <% } %>
            </td>
            <td>
              <%= record.closedByDepartment %>
            </td>
            <td>
              <%= record.assignedUser %>
            </td>
            <td>
              <%= record.jobValue %>
            </td>
            <td>
              <%= record.reportedDate?.substr(0,10) %>
                <dialog onclick='function showModal()'>
                  <p>
                    <%= record.reportedChannel?.value %>
                      <%= record.reportedChannel?.text %>
                  </p>
                </dialog>
            </td>
            <td>
              <%= record.balance %>
            </td>
          </tr>
          <% }) %>
    </table>


  </div>
  <footer>
    <% if (result.page.hasmore==true ) { %>
      <a href="http://localhost:5000">Show More</a>
      <% } else { %>
        <p>No More</p>
        <% } %>
  </footer>
  <script src="../js/test.js"></script>
</body>

</html>